.formCard {
    width:50%;
    margin: 3em auto;
}

.mat-card-title, .mat-card-content, .videoCard {
    text-align:center;
}

.mat-form-field {
    width: 75%;
}

.loadButton {
    vertical-align: super;
    margin-left: 15px;
}