<mat-card class="formCard">
    <mat-card-title>Enter Youtube link below</mat-card-title>
    <mat-card-content>
        <form #link="ngForm" (ngSubmit)='onYouTubeIframeAPIReady(link)'>
            <mat-form-field floatLabel="auto" color="primary" appearance="outline">
                <mat-label>Youtube Link</mat-label>
                <input ngModel name="youtubeLink" class="inputField" matInput required placeholder="e.g. https://www.youtube.com/watch?v=vjf774RKrLc">
            </mat-form-field>
            <button class="loadButton" mat-raised-button color="accent">Load</button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card class="videoCard formCard">
    <div id="player"></div>
</mat-card>